@import './variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  height: 1200px;
  font-family: $MedievalSharp;
  color: $light;
  background-image: $bg-image;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-color: $dark;
}

// #root {
//   height: 100%;
// }

// navbar
.navContainer {
  background-color: $dark;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
  margin: auto;
  opacity: 50%;
}

.navLinks a {
  color: white;
  padding: 40px;
  font-size: 26px;
}

.navLinks a:hover {
  color: $primary;
  padding: 40px;
}

.navContent {
  padding-left: 40px;
  color: $primary;
  font-size: 24px;
}

// HomePage
.homepageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

// UnitPage
.unitContainer {
  margin-top: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkSlider {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

// Slider
.sliderContainer {
  display: flex;
  align-items: center;
  padding-left: 20px;
  flex: 1;
}
.sliderValue {
  font-size: 24px;
  padding-left: 40px;
}

// Checkbox

.checkboxContainer {
  display: flex;
  align-items: center;
}

.resourceLabel {
  font-size: 24px;
  padding: 20px;
}
