@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Poppins:ital,wght@0,500;0,600;0,800;1,400&display=swap');

$Poppins: 'Poppins', sans-serif;

$MedievalSharp: 'MedievalSharp', sans-serif;

$dark: rgb(17, 28, 30);

$light: #fff;

$primary: rgb(203, 69, 16);

$bg-image: url('../assets/ageof-bg.jpeg');

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// header height
$headerHeight: 100px;
